<img [src]='imageUrl' height="12%" width="12%">
<br>
By Cburnett at English Wikipedia (Own work) [<a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a> or <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA-3.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3AJaguar_head_shot-edit2.jpg">via Wikimedia Commons</a>
<br>
<table>
  <td [attr.colspan]='colspan'></td>
</table>

<button class="btn btn-primary" [class.active]="isActive">ClassBinding</button>
<button class="btn btn-primary" [style.backgroundColor]="!isActive ? 'Red' : 'Green'">StyleBinding</button>
<button class="btn btn-primary" [style.backgroundColor]="isActive ? 'Red' : 'Green'">!StyleBinding</button>
<br>
<br>
<br>
<button class="btn btn-primary" (click)="onSave()">Save</button>
<br>
<br>
<button class="btn btn-primary" (click)="saveIt($event)">Save with coordinates</button>